<div id="result">
        {{#if error}}
        <div class="err">{{ error }}</div>
        {{/if}}
        {{#if fullName}}
        <div class="full-name">ФИО: {{ fullName }}</div>
        {{/if}}
        {{#if login}}
        <br>
        <div class="login">Логин: {{ login }}</div>
        {{/if}}
        {{#if password1}}
        <br>
        <div class="pass">Пароль 1: {{ password1 }}</div>
        {{/if}}
        {{#if password2}}
        <br>
        <div class="pass">Пароль 2: {{ password2 }}</div>
        {{/if}}
        {{#if password3}}
        <br>
        <div class="pass">Пароль 3: {{ password3 }}</div>
        {{/if}}
        {{#if password4}}
        <br>
        <div class="pass">Пароль 4: {{ password4 }}</div>
        {{/if}}
        {{#if password5}}
        <br>
        <div class="pass">Пароль 5: {{ password5 }}</div>
        {{/if}}
</div>