<div id="result">
        {{#if error}}
        <div class="err">{{ error }}</div>
        {{/if}}
        {{#if fullName}}
        <div class="full-name">ФИО:&nbsp&nbsp&nbsp&nbsp{{ fullName }}</div>
        {{/if}}
        {{#if login}}
        <br>
        <div class="login">Логин:&nbsp&nbsp&nbsp&nbsp{{ login }}</div>
        {{/if}}
        {{#if password1}}
        <br>
        <div class="pass">Пароль 1:&nbsp&nbsp&nbsp&nbsp{{ password1 }}</div>
        {{/if}}
        {{#if password2}}
        <br>
        <div class="pass">Пароль 2:&nbsp&nbsp&nbsp&nbsp{{ password2 }}</div>
        {{/if}}
        {{#if password3}}
        <br>
        <div class="pass">Пароль 3:&nbsp&nbsp&nbsp&nbsp{{ password3 }}</div>
        {{/if}}
        {{#if password4}}
        <br>
        <div class="pass">Пароль 4:&nbsp&nbsp&nbsp&nbsp{{ password4 }}</div>
        {{/if}}
        {{#if password5}}
        <br>
        <div class="pass">Пароль 5:&nbsp&nbsp&nbsp&nbsp{{ password5 }}</div>
        {{/if}}
</div>